# Ignore all .txt files
Scan_tfin_wave_tfin_15_L_20_cb_gauche_harmonique_cb_droite_libre_output_trivial_sortie
Scan_tfin_wave_tfin_15_L_20_output_trivial_sortie
Scan_om_wave_tfin_2e+02_L_20_output_trivial_sortie
Scan_tfin_wave_tfin_40_L_20_output_trivial_sortie
Scan_om_wave_tfin_2e+02_L_20_output_trivial_sortie
Scan_tfin_wave_tfin_15_L_20_cb_gauche_harmonique_cb_droite_fixe_output_trivial_sortie
Scan_tfin_wave_tfin_2e+02_L_20_cb_gauche_harmonique_cb_droite_libre_output_trivial_sortie
Scan_om_wave_tfin_2e+02_L_20_output_trivial_sortie
Scan_tfin_wave_tfin_15_L_20_cb_gauche_harmonique_cb_droite_libre_output_trivial_sortie
Scan_tfin_wave_tfin_2e+02_L_20_cb_gauche_harmonique_cb_droite_libre_output_trivial_sortie
Scan_tfin_wave_tfin_15_L_20_cb_gauche_harmonique_cb_droite_fixe_output_trivial_sortie
